<nav class="navbar">
    <a class="logo" href="/">Happy Place</a>
    <!-- links -->
    <ul class="nav-list">
        <li></li><a class="nav-link" href="/">Home</a></li>
        <li></li><a class="nav-link" href="/post">Posts</a></li>
        <li></li><a class="nav-link" href="sign-up.html">Sign Up</a></li>
        <li></li><a class="nav-link" href="log-in.html">Log In</a></li>
    </ul>

    <!-- hamburger -->
    <div class="hamburger">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </div>
</nav>
