<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">    
    <title>Happy Quote</title>

</head>
<body>
    <!-- navbar -->
<nav class="navbar">
        <a class="logo" href="/">Happy Place</a>
        <!-- links -->
        <ul class="nav-list">
            <li></li><a class="nav-link" href="/">Home</a></li>
            <li></li><a class="nav-link" href="/post">Posts</a></li>
            <li></li><a class="nav-link" href="sign-up.html">Sign Up</a></li>
            <li></li><a class="nav-link" href="log-in.html">Log In</a></li>
        </ul>

        <!-- hamburger -->
        <div class="hamburger">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
    </nav>

    <!-- main content -->
    
    <!-- main bg img -->
    <div class="bg-img" style="background-image: url('img/car-bg.jpg');">
        <h1>make yourself happy</h1>
    </div>
    
    <h1 class="text">last posts</h1>
    <!-- posts -->
    <div class="container-posts">
        <div class="card">
            <a href=""><h2>Title 1</h2></a>
                <h4>Subtitle, out 31, 2021</h4>
                
                <div class="div-img" style="background-image:url('img/plant.jpg')"></div>
                <p>I recollect that my first exploit in squirrel-shooting was in a grove of tall walnut-trees that shades one side of the valley. I had wandered into it at noontime, when all nature is peculiarly quiet, and was startled by the roar of my own gun, as it broke the Sabbath stillness around and was prolonged and reverberated by the angry echoes.</p>
        </div>

        <div class="card">
            <a href=""><h2>Title 2</h2></a>
                <h4>Subtitle, out 31, 2021</h4>
                
                <div class="div-img" style="background-image:url('img/computer.jpg')"></div>
                <p>You know that tingly feeling you get on the back of your neck sometimes? I just got that feeling when talking with her. You know I don't believe in sixth senses, but there is something not right with her. I don't know how I know, but I just do.</p>
        </div>

        <div class="card">
            <a href=""><h2>Title 3</h2></a>
                <h4>Subtitle, out 31, 2021</h4>
                
                <div class="div-img" style="background-image:url('img/lion.jpg')"></div>
                <p>The thing that's great about this job is the time sourcing the items involves no traveling. I just look online to buy it. It's really as simple as that. While everyone else is searching for what they can sell, I sit in front of my computer and buy better stuff for less money and spend a fraction of the time doing it.</p>
        </div>  
        

    </div> <!--  container -->
    
    <!-- footer -->
    <div class="footer">
        <h2>Footer</h2>
    </div>

    <script src="index.js"></script>
</body>
</html>